<!DOCTYPE html>
<html>
<head>
  <title>BrowserTzone</title>
  <%= stylesheet_link_tag    "browser_tzone/application", :media => "all" %>
  <%= javascript_include_tag "browser_tzone/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
